.ow-leading-publishers-title[class] {
	margin-bottom: 90px;
}

.ow-leading-publishers-brands {
	.blocks-gallery-item {
		border-top: 1px solid black;
		margin-bottom: 0;
		padding: 40px 0;

		figure {
			margin: 0 auto;

			img {
				padding: 30px;
				height: 110px;
			}
		}

		&:nth-last-child(-n+4) {
			border-bottom: 1px solid black;
		}
	}
}
