@font-face {
	font-family: Copernicus;
	font-style: normal;
	src: resolve('GalaxieCopernicus-Book.woff2') format('woff2'),
		resolve('GalaxieCopernicus-Book.woff') format('woff'),
		resolve('GalaxieCopernicus-Book.eot') format('eot');
}

@font-face {
	font-family: Copernicus;
	font-style: italic;
	src: resolve('GalaxieCopernicus-BookItalic.woff2') format('woff2'), /* Super Modern Browsers */
		resolve('GalaxieCopernicus-BookItalic.woff') format('woff'), /* Modern Browsers */
		resolve('GalaxieCopernicus-BookItalic.eot') format('eot'); /* IE */
}

@font-face {
	font-family: Copernicus;
	font-style: normal;
	font-weight: 700;
	src: resolve('GalaxieCopernicus-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		resolve('GalaxieCopernicus-Bold.woff') format('woff'), /* Modern Browsers */
		resolve('GalaxieCopernicus-Bold.eot') format('eot'); /* IE */
}

@font-face {
	font-family: Copernicus;
	font-style: italic;
	font-weight: 700;
	src: resolve('GalaxieCopernicus-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
		resolve('GalaxieCopernicus-BoldItalic.woff') format('woff'), /* Modern Browsers */
		resolve('GalaxieCopernicus-BoldItalic.eot') format('eot'); /* IE */
}

/* stylelint-disable declaration-no-important, selector-max-specificity */
body {
	font-family: Copernicus, serif;
	font-size: 18px;
	//letter-spacing: -0.18px;
	line-height: normal;
}

#main {
	font-family: Copernicus, serif;
	font-size: 18px;
	//letter-spacing: -0.18px;
	line-height: normal;
}

#app_body {
	font-family: Copernicus, serif;
	padding: 0 !important;
	max-width: 750px;
	margin: 0 auto;
}

#header {
	text-align: center;
	padding: 0;
}

#app_body h1,
#app_body h2,
#app_body h3,
#app_body h4,
#app_body h5 {
	font-family: Copernicus, serif;
	font-weight: 400;
}

#app_body h2 strong {
	font-weight: 400;
}

#board_title,
#app_body h1 {
	color: #000;
	font-size: 40px;
	font-weight: 400;
	//letter-spacing: -2.53px;
	line-height: 1.08;
	margin-bottom: 43px;
	text-align: center;
}

.company-name {
	display: none;
}

.location {
	color: #000;
	font-size: 30px;
	//letter-spacing: -1.4px;
	line-height: 1.17;
	margin-bottom: 50px;
}

#application {
	max-width: 100%;
}

#submit_buttons {
	text-align: center;
	margin: 0 auto;
}

#submit_app {
	text-shadow: none;
	-webkit-appearance: button;
	background-image: none;
	display: inline-block;
	border: 0;
	margin: 8px 0 8px 5px;
	font-weight: 400;
}

@media (max-width: 767px) {
	#main {
		font-size: 18px;
		//letter-spacing: -0.18px;
		line-height: normal;
	}

	#board_title,
	#app_body h1 {
		font-size: 25px;
		line-height: 1.08;
		//letter-spacing: -1.25px;
	}

	.location {
		font-size: 25px;
		line-height: 1.08;
		//letter-spacing: -1.25px;
	}
}
/* stylelint-enable */
